

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <aside>
    <h1>Groceries</h1>
    <label>
      <input type=checkbox>
      <span>Salad greens</span>
    </label>
    

    <label>
      <input type=checkbox>
      <span>Cherry Tomatoes</span>
    </label>
    <label>

      <input type=checkbox>
      <span>Onion</span>
    </label>

    <label>
      <input type=checkbox>
      <span>Peppers</span>
    </label>

    <label>
      <input type=checkbox>
      <span>Cucumber</span>
    </label>
    

    
    <label>
      <input type=checkbox>
      <span>Wooden toothpicks</span>
    </label>


    <label>
      <input type=checkbox>
      <span>Wooden Skewers</span>
    </label>


    <label>
      <input type=checkbox>
      <span>Pickles</span>
    </label>


    <label>
      <input type=checkbox>
      <span>Pickled Veggies</span>
    </label>

    <label>
      <input type=checkbox>
      <span>Olives</span>
    </label>


    <label>
      <input type=checkbox>
      <span>Croutons</span>
    </label>


    <label>
      <input type=checkbox>
      <span>Nice Soup</span>
    </label>
  </aside>

  <script>
    // Add Additional Items
    var aside = document.querySelector('aside'),
        div = document.createElement('div'),
        text = document.createElement('input'),
        button = document.createElement('input')
    text.type = 'text'
    text.id = 'input'
    button.type = 'button'
    button.setAttribute('data-button','outline')
    button.value = '➕'
    button.setAttribute('onclick','addItem(input.value)')
    div.appendChild(text)
    div.appendChild(button)
    aside.appendChild(div)

    function addItem(text){
      var div = document.querySelector('div'),
          input = document.getElementById('input')
      if (text !== ''){
        input.value = ''
        var label = document.createElement('label'),
            input = document.createElement('input'),
            span = document.createElement('span')
        input.type = 'checkbox'
        span.innerHTML = text
        label.appendChild(input)
        label.appendChild(span)
        div.parentNode.insertBefore(label,div)
      }
    }
	 </script>
  </div>
</ion-content>
